body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
.logo-part-accent {
  color: #4d5ae5;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}